:root {
    --btn_text_color: #E9E9E9;
}
.form{
    display: flex;
    padding: 50px;
    flex-direction: column;
    margin: 20px auto 0 auto;
    width: 400px;
    height: 400px;
    background-color: white;
}

.form__heading {
    font: 32px 'Noto Sans', sans-serif;
    font-weight: semibold;
    text-align: center;
    margin-bottom: 20px;
}

.form__input {
    border: 1px solid black;
    color: black;
    font: 16px 'Noto Sans', sans-serif;
    background-color: #E9E9E9;
    height: 40px;
    border-radius: 5px;
}

.form__input:not(:first-child) {
    margin-top: 20px;
}

.form__input:focus {
    outline: 2px solid green;
    border: none;
}

.form__button {
    margin-top: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 0px;
    text-align: center;
    width: 120px;
    height: 40px;
    background-image: linear-gradient(to right, #762F65 1%, #2B137A, #2B137A);
    color: var(--btn_text_color);
    font: 16px 'Noto Sans', sans-serif;
}