@import url(./client/assets/css/normalize.css);

:root {
    --main-color: #CFCFCF;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

body {
    margin: 0px;
    background-color: var(--main-color);
}
header + * {
    margin-top: 82px;
}

button, .form__button, .form__button[type='submit'] {
    transition: 0.4s;
    width: 170px;
    height: 36px;
    color: #E9E9E9;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid black;
    background: linear-gradient(92.82deg, rgba(118, 47, 101, 0.9) -26.4%, #2B127A 31.85%, #2C3498 123.71%);
    border-radius: 36px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button, .form__button:hover {
    box-shadow: none;
    border: 1px solid var(--main-color);
    transition: 1s;
}


/* Utility classes */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hidden {
    display: none;
}