@import url(./client/assets/css/normalize.css);

:root {
    --main-color: #CFCFCF;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

body {
    margin: 0px;
    background-color: var(--main-color);
}
header + * {
    margin-top: 82px;
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
}