@import url(./client/assets/css/normalize.css);

:root {
    --main-color: #CFCFCF;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

body {
    margin: 0px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
}


header + * {
    margin-top: 82px;
}

h1{
    font-size: 1.5rem;
    font-weight: bold;

}

h2{
    font-size: 1.2rem;
}

h3{
    font-size: 1rem;
}

/* Utility classes */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}