/* Card perfil */

.a{

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    position: relative;
    right: -25px;

    width: 80%;
    max-width: 350px;
    height: 120px;
    

    background: linear-gradient(92.17deg, #24135D -12.47%, #0A4399 120.03%);
    border: 1px solid #000000;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin: 30px 0px;
    
    
}

.e{
    width: 0px;
}

.d{
    flex-grow: 0;
    
    position: relative;
    z-index: 1;
    left: -50px;
    

    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 1px black;
    background: linear-gradient(92.17deg, #24135D -12.47%, #0A4399 120.03%);

    
}

.profile_usr-pic{
    width: 100px;
    height: 100px;
    
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.b{

    position: relative;
    top: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 75%;
    max-width: 300px;
    height: 102px;
    
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:  0px 20px 20px 0px;
    
    
    
}

.perfil_nome, .perfil_status, .perfil_email {
    text-overflow: ellipsis;
    position: relative;
    left: 60px;
    color: black;
    width: calc(100% - 70px);
    margin-bottom: 0px;
}

.perfil_status, .perfil_email{
    font-size: 14px;
    font-weight: 400;
    
}

.perfil_nome {
    margin-top: 0px;
}

.perfil_status {
    margin-top: 5px;
}

.perfil_icones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 20px);

}

.c{
    position: relative;
    right: 12px;
    top: 10px;
    width: 20px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

/* Fundo do perfil */

.perfil_fundo-branco{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    width: 90vw;
    height: 80vh;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: 1px solid black;
    border-radius: 15px;
    
    position: fixed;
    top: 100px;
    left: calc(100vw - 95vw);
    overflow-y: auto;
}

/* Cards interesses e postagens do fórum */

.perfil_content-interesses, .perfil_content-participacao, .perfil_content-anuncios {
    background-color: #3D2066;
    width: 68vw;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.perfil_content-titulo{
    color:white;
}

.perfil_card-anuncios, .perfil_card-participacao, .perfil_card-anuncios{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 100%;
    overflow-y: auto;
}

.perfil_card-interesses::-webkit-scrollbar, .perfil_card-participacao::-webkit-scrollbar, .perfil_card-anuncios::-webkit-scrollbar  {
    width: 12px;
}

.perfil_card-interesses::-webkit-scrollbar-track, .perfil_card-participacao::-webkit-scrollbar-track, .perfil_card-anuncios::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.398);
    border-radius: 20px;
}

.perfil_card-interesses::-webkit-scrollbar-thumb, .perfil_card-participacao::-webkit-scrollbar-thumb, .perfil_card-anuncios::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.529);
    border-radius: 30px;
    border: 2px solid #021d4600;
}

    
.perfil_fundo-branco::-webkit-scrollbar{
    width: 12px;
    margin: 10px;
}

.perfil_fundo-branco::-webkit-scrollbar-track {
    background: rgba(134, 134, 134, 0.216);
    border-radius: 20px;
    
}
.perfil_fundo-branco::-webkit-scrollbar-thumb {
    background: #30217E;
    border-radius: 30px;
    border: 2px solid #E5E5E5;
}


@media screen and (min-width: 1024px) {

    .perfil_content-interesses, .perfil_content-participacao{
        background-color: #3D2066;
        width: 80vw;
        padding: 20px;
        margin-bottom: 50px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    perfil_content-titulo{
        margin-bottom: 5px;
    }

    .perfil_card-anuncios, .perfil_card-participacao, .perfil_card-anuncios{
        display: flex;
        flex-direction: row;
        height: min-content;
        overflow-y: none;
        overflow-x: auto;
    }
}