.perfil_baner{
    width: 300px;
    position: relative;
    left: 10px;
    background-color: #30217E;
    border-radius: 25px;
    display: flex;
    margin: 125px auto 20px auto;
    height: 100px;
}

.perfil_txt-cont, .perfil_img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil_img-cont {
    background-color: aliceblue;
    border-radius: 100px;
    width: 100px;
    position: relative;
    left: -35px;
    
}

.perfil_img {
    border: #30217E 1px solid;
    background-color: gainsboro;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    object-fit: none;


}


.perfil_txt-cont{
    flex-direction: column;

}

.perfil_nome, .perfil_status, .perfil_email {
    position: relative;
    left: -20px;
    color: aliceblue;
    width: 100%;
    margin-bottom: 0px;
}

.perfil_status, .perfil_email{
    font-size: 14px;
    font-weight: 400;
    
}

.perfil_nome {
    margin-top: 0px;
}

.perfil_status {
    margin-top: 5px;
}
